.navbar{
  padding: 0 10px;
  justify-content: left;
  gap: 10px;
  & a{
    color:black;
    padding: 0 5px;
    text-decoration: none;
    &.active{
      font-weight: bold;
      color:orangered;
      text-decoration: underline;
    }
    &:hover{
      text-decoration: underline;
    }
  }
}

