<nav class="navbar container-fluid"> 
	<ul>
      <ng-container *ngFor="let link of links">
        <li *ngIf="link.role === 'ADMIN' &&  authService.isAdmin();else enlaceNormal ">
          <a
            routerLinkActive="active"      
            [routerLink]="link.path"
            [routerLinkActiveOptions]="{ exact: false }">
            {{ link.label }}
          </a> 
        </li>
        <ng-template #enlaceNormal>
            <li *ngIf="link.role != 'ADMIN'">
              <a 
                routerLinkActive="active"      
                [routerLink]="link.path"
                [routerLinkActiveOptions]="{ exact: false }"
                [title]="link.label">
                {{ link.label }}
              </a> 
            </li>
          </ng-template>
      </ng-container>
  </ul>
 
  <ul *ngIf="isHeader">
      <li *ngIf="authService.isLogged(); else loggedOut">
          <a 
            title="View User"
            [routerLink]="['/admin/users/edit', authService.currentUser()?.id]"
            [queryParams]="{ mode: 'view' }"
          ><span class="userLogado">{{authService.iconByRole()}}{{authService.currentUser()?.name }}</span></a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a (click)="authService.logout()" href="" title="Log Out">
             <i class="fa fa-sign-out-alt"></i>
          </a>
      </li>
      <ng-template #loggedOut>
        <li>
            <a 
              title="SIGN UP"
              routerLinkActive="active"      
              [routerLink]="['auth/register']"
              [routerLinkActiveOptions]="{ exact: true }">               
              <i class="fa fa-user-plus"></i>
            </a> 
         </li>
        <li>
            <a 
              title="LOG IN"
              routerLinkActive="active"      
              [routerLink]="['auth/login']"
              [routerLinkActiveOptions]="{ exact: false }">               
              <i class="fa fa-sign-in-alt"></i>
            </a> 
         </li>
      </ng-template>
  </ul>

</nav>
 

<hr>