.navbar{
  padding: 0 10px;
  justify-content:space-between;
  ul li{
    padding: 0 15px;
    &::after{
      content:"";
      position: relative;
      right: -15px;
      border-left:1px solid #ccc;
      width: 1px;
      height: 100%;
    }
    &:last-child::after{
     display: none;
    }
  }
  & a{
    color:black;
    padding: 0 5px;
    text-decoration: none;
    &.active{
      font-weight: bold;
      color:orangered;
      text-decoration: underline;
    }
    &:hover{
      text-decoration: underline;
    }
  }
  .userLogado{color: orangered;}
}

