.navbar{
    width: 100%;
    left: 0;
    text-align: left; 
    position: relative;
  ul li{
    padding: 0 15px;
    position: relative;    
    &::after{
      content:"";
      position: relative;
      right:-7px;
      border-left:1px solid black;
      width: 1px;
      height: 100%;
    }
    &:last-child::after{
     display: none;
    }
  }
  & a{
    color:black;
    padding: 0 5px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    &.active{
      font-weight: bold;
      color:brown;
      text-decoration: underline;
      font-size: 24px; 
      pointer-events: none;
      cursor: not-allowed;
    }
    &:hover{      
      color:brown;
      text-decoration: underline;
    }
  }
  
  .navbarUser{
    position: absolute;
    right: 10px;
    top: -50px;
    font-size: 20px;
    & .userLogado {
      font-size: 24px;    
      &  span{
          color:brown;
      }
    }



  }
}

