
<!-- <pre>

  {{ authService.currentUser() | json  }}
  {{ authService.isAdmin() | json  }}
  {{ authService.isLogged()| json  }}

</pre> -->


<!-- <p>Expira en: {{ authService.remainingFormatted() }}</p> -->

<nav class="navbar container-fluid"> 
	<ul>
      <ng-container *ngFor="let link of links">
            <li *ngIf="link.role === null;else enlaceUser ">
              <a
                  routerLinkActive="active"      
                  [routerLink]="link.path"
                  [title]="link.label"
                  [routerLinkActiveOptions]="{ exact: false }">
                  <span [innerHTML]="link.icon"></span>
              </a> 
            </li>
          <ng-template #enlaceUser>
              <li *ngIf="link.role === authService.currentUser()?.role"   >
                <a 
                  routerLinkActive="active"       
                  [routerLink]="link.path"
                  [title]="link.label"
                  [routerLinkActiveOptions]="{ exact: false }">
                  <span [innerHTML]="link.icon"></span>
                </a> 
              </li>
          </ng-template>
      </ng-container>
  </ul>
 
  <ul *ngIf="isHeader" class="navbarUser">
      <ng-container  *ngIf="authService.isLogged(); else loggedOut">        
        <li >
            <app-notifications [count]="notificationService.countNotification"></app-notifications>
            <!-- le paso la computed sin () pq sino le paso el valor!!  -->
        </li>
        <li >
            <a 
                class="userLogado"
                [title]="authService.currentUser()?.name"
                [routerLink]="['/profile']"
              >
               <i *ngIf="authService.currentUser()?.role==='MANAGER'" class="fa-solid fa-user-pen"></i>
               <i *ngIf="authService.currentUser()?.role==='USER'"    class="fa-solid fa-user"></i>
               <i *ngIf="authService.currentUser()?.role==='ADMIN'"   class="fa-solid fa-user-shield"></i>
            </a>
        </li>
        <li >
            <a (click)="authService.logout()" href="" title="Log Out">
               <i class="fa fa-sign-out-alt"></i>
            </a>
        </li>
      </ng-container>
      <ng-template #loggedOut>
        <li>
            <a 
              title="SIGN UP"
              routerLinkActive="active"      
              [routerLink]="['auth/register']"
              [routerLinkActiveOptions]="{ exact: true }">               
              <i class="fa fa-user-plus"></i> 
            </a> 
         </li>
        <li>
            <a 
              title="LOG IN"
              routerLinkActive="active"      
              [routerLink]="['auth/login']"
              [routerLinkActiveOptions]="{ exact: false }">               
              <i class="fa fa-sign-in-alt"></i>
            </a> 
         </li>
      </ng-template>
  </ul>

</nav>
 

<hr>