 <div class="auth auth--login animated fadeIn ">
  
    <ng-container > 

            <form id="change" class="auth">
                
                <p>Restablece tu contraseña</p>
                <p>Cambiando la contraseña para: fssmartin.com</p>

                <div class="auth-wraper-full">   
                    <input
                        type="password"
                        formControlName="password"
                        placeholder="Create a secure password"
                        name="password"
                        id="password"
                        autocomplete="new-password"
                    /> 
                    <i class="fa fa-lock icon"></i>
                </div> 
            </form> 
            
            <a class="btn btn--save" 
                title="Send reset link" > 
                Cambiar contraseña 
            </a>
        

    
    </ng-container>

</div>