 <div class="auth auth--login animated fadeIn ">
                    
            <form id="forget"> 
                
                <h1>¿Olvidaste la contraseña?</h1>
                <h2>
                    Introduce la dirección de correo electrónico que usas en Coursera.<br/>
                    Te enviaremos un enlace para restablecer tu contraseña.
                </h2>

                <div class="auth-wraper-full"> 
                
                    <a class="btn btn--save" 
                        title="Send reset link"
                       
                        (click)="reset()">
                            Send reset link
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </a>
                  
                </div>


  
            </form>
        
 

</div>    



