/* You can add global styles to this file, and also import other style files */
body{padding: 15px;}

main{
    padding: 15px;
} 

hr{
    margin:  0;
}

.container {
  position: relative;
  display: flex;
  justify-content: left;
  margin: 0;
  width: 100%;
  gap: 10px;
}

.col {
  flex: 1;
  padding: 10px;
    position: relative;
}

.col+.col::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  height: 100%;
  width: 1px;
  background: #ccc;
}

.fRight{
  float: right;
}
.fLeft{
  float: left;
}

.selected {
 font-weight: bold;
}

input.ng-invalid.ng-touched:not(:focus) { 
  border: 1px solid red;
}

input.ng-valid.ng-touched:not(.ng-pristine) {
  border: 1px solid green;
}

input:focus { 
  outline: none;
  border: 1px solid blue;
}

table button{background:none; border: none; padding:0;margin:0;margin-right: 0.1rem; font-size:0.8rem;}
table td,th{padding: 0;background-color: transparent;}
table tr:not(:first-child):hover{background-color: aquamarine;}

.notFound{
  text-align: center;
  font-size: 1.2rem;
  color: red;
}

button, button[type=submit] {
 padding: 0.2rem 0.5rem;
 margin: 0.5rem;
 max-width: 200px;
 width: auto;

  &.btEnlace{
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &.btCrear::before {
  content: "+ ";
}

}

 
label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

label span{
  width: 100px;
}
label input,label select {
   flex: 1;
}


form{
  padding: 0 2rem;
}

input:not([type=checkbox], [type=radio], [type=range]) {
  margin: 0;
  padding: 0.2rem 0.5rem;
  height: auto;
}

select:not([multiple], [size]) {
  margin: 0;
  padding: 0.2rem 0.5rem;
  height: auto;
}

.listTable tr{
  &:last-child{
    td{border: none;}
    font-size: .8rem;
  }

  & td{
   &:last-child{  
     text-align: right;
   }
}

}



.msj{
  color: green;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px 0;
  &.msjError{
    color: red; 
  }

}