/* You can add global styles to this file, and also import other style files */
body{padding: 15px;margin:0 auto;max-width: 800px;}

main{
    padding: 15px;
} 

hr{
    margin:  0;
}

h4{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  position: relative;
  margin: 0;
  width: 100%;
  gap: 10px;
  
  display: flex;
  justify-content: left;
  flex-wrap: wrap;

}

.col { 
  flex: 0 0 100%;
  position: relative;
  &.col50{
      flex: 0 0 49%;
  }
  &.col50+.col50::after {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    height: 100%;
    width: 1px;
    background: #ccc;
  }
}


.fRight{
  float: right;
}
.fLeft{
  float: left;
}

.selected {
 font-weight: bold;
}

input.ng-invalid.ng-touched:not(:focus) { 
  border: 1px solid red;
}

input.ng-valid.ng-touched:not(.ng-pristine) {
  border: 1px solid green;
}

input:focus { 
  outline: none;
  border: 1px solid blue;
}


.notFound{
  text-align: center;
  font-size: 1.2rem;
  color: red;
}

.wellCome {text-align: center;color:darkgreen;font-size: 23px;}

[type=button], [type=reset], [type=submit], button ,button[type=submit] {
 padding: 0.2rem 0.5rem;
 margin: 0 0 0.5rem 0;
 max-width: 200px;
 width: auto;

  &.btEnlace{
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &.btCrear::before {
    content: "+ ";
  } 
}

 




form{
  padding: 0 1rem;

  &.form-edit{
    label span{
      font-weight: normal;
    }
  }

  .fm_actions{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin: 1rem 0;
    &:has(> :nth-child(2)) {
      justify-content: space-between;
    }

    .botones{
      display: flex;
      justify-self: end;
    }
    .msgError{
      color:red;
    }
  }

  // &.auth{
  //   label span{display: none;}
  // }
  label {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 0px 8px;
      position: relative;
      margin-bottom: 15px;
      
      & .inputError {
        flex-basis: 100%;
        color: red;
        font-size: 12px;
        text-align: right;
        margin: 0;
      }
      & .inputInfo {
        flex-basis: 100%;
        margin: 0;
        line-height: 12px;
        padding: 2px 0;
        font-size: 11px;
      }

      & span{
        min-width: 80px;
        padding-right: 10px;
        font-weight: bold;
      }
      & .linkLabel{
        width: 100%;
        position: absolute;
        right: 0;
        top: 5px;
        text-decoration: none;
        text-align: right;
        font-size: 13px;
        &:hover{
          text-decoration: underline;
        }
      }
      & input,select {
          width: 100%;     /* QUITA el 100% */
          flex: 1;         /* o usa esto */
          min-width: 0;    /* evita overflow raro */
      }
  }
  &.auth{    
    label{flex-direction: column;}
  }
}

input:not([type=checkbox], [type=radio], [type=range]) {
  margin: 0;
  padding: 0.2rem 0.5rem;
  height: auto;
  padding-right: 35px;
  position: relative;
  & + .icon {
    position: absolute;
    right: 10px;
    top: 45px;
    transform: translateY(-50%);
    pointer-events: none;
    color: gray;
    opacity:.5;
  }
  &::placeholder {
    font-size: 13px;
  }
}




select:not([multiple], [size]) {
  margin: 0;
  padding: 0.2rem 0.5rem;
  height: auto;
}

table button{
  background:none; border: none; padding:0;margin:0 .3rem; font-size:0.8rem;color: black;opacity: .6;
  &:hover{
    opacity: 1;
  }
}
table td,th{padding: 0;background-color: transparent;}
table tr:not(:first-child, :last-child):hover{background-color: aquamarine;}


.listTable {

  th {
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    & span {
      margin-left: 5px;
      font-size: 12px;
    }
  }

  tr{
    &.highlight-row {
      background-color: #c8f7c5;  
      transition: background-color 0.5s ease;
    }
  
    &:last-child{
        td{border: none;}
        font-size: .8rem;
    }
  
    & td{
        &:last-child{  
          text-align: right;
        }
    }
  } 
}

.msg{
  font-size: 1.2rem;
  text-align: center;
  padding: 0;
  &.msgOk{
    color: green;
  }
  &.msgError{
    color: red; 
  }

}

.container{
  max-width: 600px!important;
}

.auth-header{
  & *{margin:0;padding:0}
}   

.auth-body{
  margin:3rem 0 1rem 0
}

.auth-footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  & p{
    margin:0
  }
}
.notifications{
  position: relative;
  display: inline-block;
  padding: 0 5px;
  .badge {
    position: absolute;
    top: -9px;
    right: -10px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
    font-weight: bold;
  }
}